body {
    background-color: rgba(27, 51, 58, 1);

}

main {
    display: flex;
    justify-content: center;
}

.form-content {
    padding: 30px;
    width: 500px;
    margin: 100px auto;
    border-radius: 20px;
    background-color: rgba(255,255,255, 0.2);
    color: rgba(255, 255, 255, 1);

}
.form-content a{
    color:rgba(255, 255, 255, .9);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.forgot-password{
    font-size: 12px;
    display: flex;
    justify-content: end;
}
.form-title h1 {
    font-size: 65px;
}

.form-title p {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.form-group label {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

.form-group input {
    font-size: 15px;
    padding: 10px;
    margin: 10px auto;
    width: calc(100% - 30px);
    border-radius: 10px;
}

.form-btn {
    height: 50px;
    width: 100%;
    background-color: rgba(13, 59, 102,1);
    border-radius: 10px;
    font-size: 25px;
    margin: 10px auto;
    color: white;
    border: none;
    transition: background-color 0.7s;
}
.form-btn:hover{
    cursor: pointer;
     background-color: rgba(255, 144, 14, 1);

}
.form-register{
    color: rgba(255, 255, 255, 0.7);
}