.appointment-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.appointment-form label {
    font-size: 18px;
    font-weight: 600;
}

.appointment-form input,
.appointment-form select {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid rgba(13,59,102,0.3);
}

.appointment-form input:focus,
.appointment-form select:focus {
    outline: none;
    border-color: rgba(13,59,102,1);
    box-shadow: 0 0 5px rgba(13,59,102,0.5);
}

.appointment-form button:hover {
    background-color: rgba(255, 144, 14, 1);
    transition: 0.4s;
}
